html {
    font-family: Calibri;
    font-size: 1.5rem;
}

li{
    margin: 0.5rem 0 0 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 1.4fr 0.6fr 1.4fr 0.6fr;
    /*grid-template-rows: 0.2fr 0.7fr 1.6fr 1.9fr 1.5fr 1.5fr 0.3fr;*/
    grid-template-areas: ". . . . . ." ". nom nom nom coordonées ." ". informatique informatique informatique infos-persos ." ". dimplomes dimplomes dimplomes langues ." ". compétences compétences compétences atouts ." ". experiences experiences experiences interets ." ". . . . . .";
}

.photo {
    grid-area: photo;
}

.nom {
    grid-area: nom;
    text-align: center;
    background-color: powderblue;
    padding: 2rem;
}

.coordonees {
    grid-area: coordonées;
    background-color: #2aabd2;
    padding: 2rem;
}

.alternance {
    grid-area: alternance;
    font-size: 18px;
    text-align: center;
    background-color: #2aabd2;
    padding: 2rem;
}

.diplomes {
    grid-area: dimplomes;
    background-color: #2aabd2;
    padding: 2rem;
}

.infos-persos {
    grid-area: infos-persos;
    background-color: rgb(158, 158, 158);
    padding: 2rem;
}

.experiences {
    grid-area: experiences;
    background-color: aliceblue;
    padding: 2rem;
}

.langues {
    grid-area: langues;
    background-color: powderblue;
    padding: 2rem;
}

.competences {
    grid-area: compétences;
    background-color: rgb(158, 158, 158);
    padding: 2rem;
}

.atouts {
    grid-area: atouts;
    background-color: aliceblue;
    padding: 2rem;
}

.informatique {
    grid-area: informatique;
    background-color: aliceblue;
    padding: 2rem;
}

.interets {
    grid-area: interets;
    background-color: #2aabd2;
    padding: 2rem;
}

.moncercleplein {
    display: inline-block;
    background: #2aabd2;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #144f60;
}

.moncerclevide {
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #144f60;
}
footer {
    text-align: center;
    padding: 2rem;
}
h1 {
    margin-block-start: 0.11em;
}
